html {
  font-size: 62.5%;
}

/*pc*/
header {
  background: #f9f8f6 ;
}
header #header_in {
  padding-top: 10px;
  padding-bottom: 4px;
}

header .sp_navi_li {
  width: 180px;
  position: absolute;
  top: 50px;
  right: 2%;
  border: 1px solid #eee;
  background: white;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 100;
}
header .sp_navi_li li {
  list-style: none;
  margin: 0;
  padding: 0;
}
header .sp_navi_li li a {
  display: block;
  padding: 10px 8px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  text-decoration: none;
}
 {
  height:10px;
}


#cover_area {
  text-align: center;
  padding: 80px 0;
  background-image: url("../images/top/cover.jpg");
  background-size: cover;
}


#service_area {
  padding-top: 20px;
}

#service_area .columns {
  color: #626262;
}
#service_area .columns .service_title {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 8px;
}
#service_area .columns p {
  font-size: 15px;
  font-size: 1.5rem;
  margin-top: 10px;
}


#news_area {
  background-color: #eaf2f4;
}

#news_area .news_title {
  text-align: center;
  font-size: 26px;
  font-size: 2.6rem;
  color: #42b9d0;
  padding: 15px 0 10px 0;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
#news_area .news_lists li {
  list-style: none;
  font-size: 15px;
  font-size: 1.5rem;
}
#news_area .news_lists li span {
  color: #42b9d0;
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
}


footer {
  background-color:#f9f8f6 ;
  color: #fff;
  padding-top: 20px;
}

footer .foot_address {
  font-size: 12px;
  font-size: 1.2rem;
  padding-top: ;
}
.copy {
  text-align: center;
  font-size: 11px;
  font-size: 1.1rem;
  color: #887f69;
}
 footer .foot_navi a {
    color: BLACK;
    font-size:11px;
    text-decoration: none;
    display: block;
    padding:0 0 0 130px;
    width:240px;
  }
  }
  footer .copy {
    margin-top: 20PX;
    color: #887f69;
  }
  footer .foot_navi li{
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    font-size: 11px;
    font-size: 1.1rem;
    background-size: 4px 6px;
    margin: 0 0px 0 20px;
    color:black;
  
  }
  footer{
    margin-top: 70px;
  }
   footer .foot_navi {
    padding: 30px 0 0 0;
   }
   
   footer section{
     width: px;
     border-bottom:none;
   }


  
}

h1 {
  margin: 0;
  padding: 0;
}


#sub_cover{
  padding: 40px 0;
  background-image: url(../images/news/sub_cover.jpg);
  background-size: cover;
}

#sub_cover h2{
    text-align: center;
    color: white;
    font-size: 32px;
    font-size: 3.rem;
    font-weight: bold;
    margin: 0;
    letter-spacing:0.2rem;
}

#contents #main
 h2.news_title {
    margin-bottom: 10px;
    padding-top: 35px;
    padding-bottom: 20px;
}

#contents #main
 h2.company_title {
    margin-bottom: 0px;
    padding-top: 35px;
    padding-bottom: 20px;
}

section#back{
  border: 1px solid ;
  width:80px;
  height:20px;
  text-align:center;
  display:inline-block;
  margin-bottom:40px;
  color:white;
  background: #887f69;
}

section#next{
  border: 1px solid ;
  width:80px;
  height:20px;
  text-align:center;
  display:inline-block;
  float:right;
  color:white;
  background:#887f69;
}

section#home{
  padding:5px;
  margin:-20px 0 10px 0;
  width:690px;
  background:#e2ddd4;
  border:none;
}

section#home p{
 margin:0 0 0 20px;
 color:;
 font-size:12px;
}

section#home img{
 margin:0 0 0 10px;
}





.pc_sidemenu{
  background-color:white;
}

 #contents #sidebar
 .pc_sidemenu_ img{
     padding:5px 5px 5px 5px;
 }
 
 #contents #sidebar
 .pc_sidemenu h3{
     color: #42b9d0;
     font-size: 14px;
     font-size: 1.4rem;
     letter-spacing: 0.2rem;
     font-weight: bold;
     background-color: #887f69;
     padding: 15px;
     margin-bottom: 0px;
 }
 
#contents #sidebar{
    padding-bottom: 20px;
    
}
#contents #sidebar
.pc_sidemenu li{
    list-style: none;
    display: block;
    border-bottom:1px solid #e5e5e5;
    background-repeat: no-repeat;
    background-position:8px center;
    margin-bottom: 10px;
    padding: 5px 0px 5px 20px;
    font-weight: normal;
    background-image: url(../images/news/side_arrow.png);
    background-size: 4px 8px;

}
#contents #sidebar
.pc_sidemenu li a{
  text-decoration: none;
}
 


#contents #main .news_li li span{
  color: #42b9d0;
  font-size:15px;
  display: inline-block;
  font-weight: bold;
  line-height: 24px
  margin-bottom: 0px;
  padding-right: 10px;
  text-align: left;
}
#contents #main .news_li li {
  font-size:15px;
  display: inline-block;
  line-height: 24px
  margin-bottom: px;
  padding-bottom: px;
  text-align: left;
}

#contants #main .news_li li{
  list-style: none;
}


#sub_cover h2{
  text-align: center;
  color: white;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  margin:0;
  letter-spacing: 0.2rem;
}



#contents #main .news_li li{
  list-style: none;
}

li{
  margin-bottom: 1rem;
  margin-top: 1rem;
  
}

.pc_sidemenu{
  margin-top: 35px;
}

#sub_cover{
  background-size: cover;
  height: 400;
}
  


th {
  
  padding:10px 0 0 10px;
  font-size: 13px;
  font-size: 1.3rem;
  width:900px;
  color: #626262;
  text-decoration: none;
  background-color:white;
}

td{
  font-size: 12px;
  font-size: 1.2rem;
  color: #626262;
  padding-left: 60px;
  text-decoration: none;
  
}


table{
  text-decoration: none;
}
  
body{
   background: #f9f8f6 ;
}


article{
  background-color: white;
  width: 240px;
  padding: 20px 20px 0 20px;
  display: inline-block;
  
}

article h1{
  font-size: 20px;
  font-weight: bold;
  color: #887f69;
}

article h3{
  font-size: 14px;
  font-weight: bold;
  color: #887f69;
  margin-top: 10px;
}

article p{
  margin: -10px 0 12px 0;
}

#price th{
  background-color: white;
}

#item article{
  width: px;
}

article#color{
  width:665px;
  margin:0 0 40px 0;
}

article#color th{
  text-align: center ;
   background: #f9f8f6  ;
}

article#color td{
  padding:0 0 0 130px;
}

article#price p{
  display: inline-block;
  margin: 10px 0 10px;
  border-bottom: 1px ;
  
}





section{
  border-top: solid 1px #887f69;
  border-bottom: solid 1px #887f69;
  width:350px;
  padding:20px 0 20px 0;
}

section p{
  display:inline-block;
  margin: 0 0 0 130px;
}

section h3{
  margin:20px 0 0 0 ;
}

article#table th{
  text-align: center ;
   background: #f9f8f6  ;
   width:200px;
   height:50px ;
}

article#table td{
  text-align: center ;
   background: #f9f8f6  ;
   padding:0 0 0 0 ;
}

div#size td{
  text-align: center;
  padding:0;
  width:300px;
  background:#f9f8f6 ;
}

div#size th{
  background:white;
}

section#item{
  border-top:none;
  padding-top:10px;
  width:600px;
}

article#title{
  padding:0;
  width:600px;
}
article#title h3{
  margin:30px 0 30px 0;
}

table#item{
  background:white;
  margin:20px 0 20px 0;
}

footer img{
  float:right;
  margin:0 0 ;
}

table{
  padding:10px;
}

 footer section{
     width: 360px;
     border-bottom:none;
   }





#menu {
  cursor: pointer;
  display:inline-block;

}


.sp_menu_toggle {
  display: none;
  text-decoration: none;

}

.sp_menu_toggle li{
 text-decoration: none;
  
}

.sp_menu_toggle ul{
 text-decoration: none;
  
}

.sp_menu_toggle a{
 text-decoration: none;
 color:black;
  
}

.sp_menu_toggle a:hover{
 text-decoration: none;
 color:blue;
  
}

.sp_menu_toggleee {
  display: none;
  text-decoration: none;

}
.sp_menu_toggleee a{
 text-decoration: none;
 color:black;
  
}

.sp_menu_toggleee a:hover{
 text-decoration: none;
 color:blue;
  
}

.sp_menu_tog {
  display: none;
  text-decoration: none;

}
.sp_menu_tog a{
 text-decoration: none;
 color:black;
  
}

.sp_menu_tog a:hover{
 text-decoration: none;
 color:blue;
  
}

.sp_menu_to {
  display: none;
  text-decoration: none;

}
.sp_menu_to a{
 text-decoration: none;
 color:black;
  
}

.sp_menu_to a:hover{
 text-decoration: none;
 color:blue;
  
}



.sp_menu_togglee {
  display: none;
  text-decoration: none;

}

.sp_menu_togglee li{
 text-decoration: none;
  
}

.sp_menu_togglee ul{
 text-decoration: none;
  
}

.sp_menu_toggleeee {
  display: none;
  text-decoration: none;

}


article#name {
  text-align: left;
  padding:10px 0 0 10px;
  width:270px;
  
}

article#name h1{
  color:black;
  
}


.sp_sidemenu{
  background-color:white;
  width:280px;
  padding:10 0 0 0px;
  margin:10px 0 0  0;
}

 #contents #sidebar
 .sp_sidemenu img{
     padding:5px 5px 5px 5px;
 }
 
 #contents #sidebar
 .sp_sidemenu h3{
     color: #42b9d0;
     font-size: 14px;
     font-size: 1.4rem;
     letter-spacing: 0.2rem;
     font-weight: bold;
     background-color: #887f69;
     padding: 15px;
     margin-bottom: 0px;
     width:250px;
     
 }
 

#contents #sidebar
.sp_sidemenu li{
    list-style: none;
    display: block;
    border-bottom:1px solid #e5e5e5;
    background-repeat: no-repeat;
    background-position:8px center;
    margin-bottom: 10px;
    padding: 5px 0px 5px 20px;
    font-weight: normal;
    background-size: 4px 8px;
    width:auto;

}


#contents #sidebar
.sp_sidemenu ul{
    width:260px;

}
#contents #sidebar
.sp_sidemenu li a{
  text-decoration: none;
   color:black;
}


.new_item img{
  margin:10px 0 15px 0;
  
}

article#shopping table{
  width:250px;
}
 
 
article#shopping{
  width:310px;
  height:280px;
}



/****/
@media (max-width: 550px) {
  header .logo {
    width: 190px;
  }
  

  .sp_navi li{
    text-decoration: none;
    display: inline-block;
    margin: 10 5px 0 0;
  }
  
  .sp_navi ul{
    text-align: center;
  }
  
  .sixcolumnslogo img{
    text-align: center;
  }
  
  section#home{
     width: 270px;
     
   }

  
    header .pc_navi {
    display: none;
  }
   footer .container {
    margin: 0;
    padding: 0;
  }
  footer .sp {
    padding: 0 6%;
    margin: 0 auto;
  }
  footer .foot_navi {
    margin-top: 20px;
    display: inline-block;
  }
  footer .foot_navi li {
    list-style: none;
    margin-bottom: 1px;
    display: inline-block;
    text-align: : center;
  }
  footer .foot_navi li a {
    
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-size: 1.0rem;
    padding: 16px 0;
  }
  footer {
    margin-top: 70px;
  }

.pc_sidemenu {
    display: none;
}

.pc_navi_list{
  display:none;
}


.pc_sidemenu_o {
  background-color:white;
}

 #contents #sidebar
 .pc_sidemenu_o .side_image{
   width:140px;
     padding:5px 5px 5px 5px;
     float:left;
    
 }
  #contents #sidebar
 .pc_sidemenu_o .side{
   width:140px;
     padding:10px 10px 10px 10px;
     float:left;
     margin:0;
 }
 
   #contents #sidebar
 .pc_sidemenu_o p{
    font-size:12px;
     padding:10px 10px 10px 10px;
     margin:0;
     font-weight:bold;
 }
 
 #contants #sidebar
 .pc_sidemenu_o article{
   
   
 }
 
 
 #contents #sidebar
 .pc_sidemenu_o h3{
     color: #42b9d0;
     font-size: 14px;
     font-size: 1.4rem;
     letter-spacing: 0.2rem;
     font-weight: bold;
     background-color: #887f69;
     padding: 15px;
     margin-bottom: 0px;
 }
 
#contents #sidebar{
    padding-bottom: 20px;
    
}
#contents #sidebar
.pc_sidemenu_o li{
    list-style: none;
    display: block;
    border-bottom:1px solid #e5e5e5;
    background-repeat: no-repeat;
    background-position:8px center;
    margin-bottom: 10px;
    padding: 5px 0px 5px 20px;
    font-weight: normal;
    background-image: url(../images/news/side_arrow.png);
    background-size: 4px 8px;

}
#contents #sidebar
.pc_sidemenu_o li a{
  text-decoration: none;
}
 section#recent{
    border:none;
    text-align: center;
  }
  footer img{
    float: none;
    width:150px;
    margin:0 0 0 100px;
  }
  
  article#color{
  width:250px;
  margin:0 0 30px 0;
}

article#color th{
  text-align: center ;
   background: #f9f8f6  ;
}

article#color td{
  padding:0 0 0 40px;
}
  
section{
  border-top: solid 1px #887f69;
  border-bottom: solid 1px #887f69;
  width:250px;
  padding:20px 0 20px 0;
  margin:0 0 10px 0;
}

section p{
  margin:0 0 0 120px;
}

section#price{
  border-bottom:none; 
}

section#price h2{
  font-size:12px;
  padding:0;
  margin:-20px 0 0 180px;
  font-weight:bold;
}
 
  
section#price h1{
  margin:-30px 0 0 100px;
  color:red;
  font-size:25px;
  width:10px;
}

section article{
border:solid 1px #e2ddd4 ;
width:100px;
margin:0 0 0 30px;
}



section#item{
  width:250px;
}

article#title h3{
  width:230px;
  
}

article#title p{
  width:260px;
}
  
  article#title {
  width:260px;
}
  
  
  
  div#size td{
  text-align: center;
  padding:0;
  width:300px;
  background:#f9f8f6 ;
}

div#size th{
  background:white;
  font-size:12px;
  color:#887f69;
  text-align: left;
}

.pc_sidemenu_search{
  background-color:white;
  padding:20px 0 10px 20px;
  margin:0 0 20px 0;
}

article#display{
  background-color:white;
  padding:0;
  width:280px;
}

#title p{
  line-height:20px;
}

.pc_sidemenu_o{
  margin:10px 0 0 0;
}

#display_img img {
  width: 280px;
  padding:10px 0px 0 0px;
}

li {
  list-style: none;
  display: ;
}
li img {
  width: 52.95px;
  cursor: pointer;
}

#list_img{
  width:280px;
margin:0;
padding:0;
  }
  
  
}
  




@media (min-width: 550px) {
  
 
  
  .sp_navi{
    display: none;
  }
  
  .sp_navi_list{
    display: none;
  }
  header #header_in {
    padding: 15px 0 10px 0;
  }
  header .pc_navi_li  {
  display: inline-block;
  }
  header .pc_navi_li li {
    list-style: none;
    margin: 28px 0 0 0;
    padding: 0;
    display:inline-block;
  }
  header .pc_navi_li li a {
    color: #626262;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4rem;
    float: left;
    padding-right: 10px;
  }
  header .pc_navi_li li a:hover {
    color: #42b9d0;
  }
  header .pc_navi_li li.navi_toppage a {
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 40px;
    padding-left: 50px;
    background-size: 40px 40px;
  }
  header .pc_navi_li li.navi_news a {
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 40px;
    padding-left: 50px;
    background-image: url("../images/top/navi_news.png");
    background-size: 40px 40px;
  }
  
   header .pc_navi_li li.navi_company a {
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 40px;
    padding-left: 50px;
    background-image: url("../images/top/navi_news.png");
    background-size: 40px 40px;
  }
   #cover_area {
    text-align: left;
    height: 420px;
    padding: 0;
  }
  #cover_area img {
    margin-top: 180px;
    margin-left: 70px;
  }
    #service_area {
    padding-top: 30px;
  }
  #service_area {
    padding-top: 30px;
  }
   #service_area .columns .service_title {
    font-size: 16px;
    font-size: 1.6rem;
  }
  #service_area .columns p {
    font-size: 13px;
    font-size: 1.3rem;
  }
   #news_area .container {
    padding: 0px 10% 50px 10%;
  }
   #news_area .news_title {
    text-align: center;
    font-size: 22px;
    font-size: 2.2rem;
    color: #42b9d0;
    padding: 50px 0 41px 0;
    letter-spacing: 0.2rem;
  }
  #news_area .news_lists li {
    list-style: none;
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  #news_area .news_lists li span {
    color: #42b9d0;
    font-weight: bold;
    display: inline;
    margin-bottom: 0px;
  }
  #contents #main h2{
     color: #42b9d0;
     border-bottom:3px solid #42b9d0;
     font-size: 20px;
     font-size: 2rem;
     font-weight: bold;
     padding-bottom: 15px;
 }
  #sub_cover {
    text-align: left;
    height: 420px;
    padding: 0;
    margin: 10px 0px 10px 0px;
    background-size: cover;
  }
  #cover_area img {
    margin-top: 180px;
    margin-left: 70px;
  }
  #sub_cover h2 {
    text-align: center;
    color: white;
    font-size: 32px;
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0.2rem;
    margin: 80px 0;
  }
   #sub_cover {
    padding: 80px 0;
  }
   #sub_cover{
    text-align: left;
    height: 200px;
    padding: 0;
    background-image: cover;
    margin: 0;
  }
  
  footer .foot_navi {
    width:1300px;
    display:inline-block;
  }
  
  footer .foot_navi li{
    display:inline-block;
    
  }
  
  footer .foot_navi ul{
    margin:0 0 0 450px;
    
  }
  
  footer img{
    margin:-20px 40px 0 0;
  }
  
  footer section{
    width:1300px;
  }
  
  .copy{
    margin:20px 0 20px 0px;
  }
  
  .pc_sidemenu_search{
    height:90px;
    background-color:white;
  }
  
  .pc_sidemenu_search img{
    margin:20px 5px 0 20px;
  }
  
  
 
  
  input{
    width:170px;
    margin:0px 5px 0 20px ;
  }
  
  .sp_sidemenu_o {
    margin:10px;
  }
  
  #display{
    width:665px;
  }
  
 article#name {
   width:695px;
   
 }
 
 
 #display_img img {
  width: 400px;
  height:400px;
  padding:10px 0px 40px 10px;
  float:left;
}

#list_img li{
  float:right;
  list-style: none;
  display:inline-block ;
}

}
li img {
  width: 70px;
  cursor: pointer;
  padding:0 5px 0 0;
  margin:0 0 -10px 0;
}

#list_img{
  width:200px;
margin:0 50px 0 0;
padding:0;
float:right;
  
}

section article{
border:solid 1px #e2ddd4 ;
width:100px;
margin:0 0 0 30px;
}

section#price{
  width:650px;
}

.pc_navi_li li{ 
  display:inline-block;
}

article#title{
  border:none;
  margin:0 0 20px;
}

article#title p{
  border:none;
  margin:0 0 ;
}

}



@media (min-width: 550px) {
  header .pc_navi_li li.navi_news a {
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 40px;
    padding-left: 50px;
    background-image: url("../images/top/navi_news.png");
    background-size: 40px 40px;
  }
  
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  #cover_area {
    background-image: url("../images/top/cover@2x.jpg");
  }
}

/*# sourceMappingURL=sample.css.map */
